# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## Ma'lumotlar tahlili. Pandas kutubxonasi.

# **AMALIYOT**
## DataFrame ustida amallar

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [1]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

In [ ]:
#@title **To'g'ri javob**
import pandas as pd
import numpy as np

### Mashg'ulot uchun DF yuklab olamiz.
Quyidagi kodni bajaring

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv", index_col=0)

### **2-mashq.** DF hajmini chiqaring

In [3]:
# Javobni shuyerga yozing
df.shape

(2499, 12)

In [ ]:
#@title To'g'ri javob
df.shape

(2499, 12)

### **3-mashq**. DF boshidan 6 ta qator chiqaring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title To'g'ri javob
df.head(6)

   price      brand    model  ...       state country      condition
0   6300     toyota  cruiser  ...  new jersey     usa   10 days left
1   2899       ford       se  ...   tennessee     usa    6 days left
2   5350      dodge      mpv  ...     georgia     usa    2 days left
3  25000       ford     door  ...    virginia     usa  22 hours left
4  27700  chevrolet     1500  ...     florida     usa  22 hours left
5   5700      dodge      mpv  ...       texas     usa    2 days left

[6 rows x 12 columns]

### **4-mashq.** DF oxiridan 5 ta qator chiqaring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title To'g'ri javob
df.tail()

      price   brand  model  year  ...        lot       state country      condition
2494   7800  nissan  versa  2019  ...  167722715  california     usa    1 days left
2495   9200  nissan  versa  2018  ...  167762225     florida     usa  21 hours left
2496   9200  nissan  versa  2018  ...  167762226     florida     usa  21 hours left
2497   9200  nissan  versa  2018  ...  167762227     florida     usa    2 days left
2498   9200  nissan  versa  2018  ...  167762228     florida     usa  21 hours left

[5 rows x 12 columns]

### **5-mashq**. DF ni yili `year` bo'yicha tartiblab chiqaring

In [4]:
# Javobni shuyerga yozing
df.sort_values(by='year')

      price      brand     model  ...         state country      condition
32    29800  chevrolet    camaro  ...  pennsylvania     usa  22 hours left
405      25       ford      door  ...      arkansas     usa  17 hours left
545       0        gmc      door  ...      colorado     usa  18 hours left
362      25       ford    pickup  ...       georgia     usa    2 days left
322       0       ford   chassis  ...    california     usa  19 hours left
...     ...        ...       ...  ...           ...     ...            ...
426   55600      lexus        gx  ...       florida     usa    2 days left
806   28300  chevrolet  colorado  ...       indiana     usa    2 days left
2322  15000     nissan    altima  ...          ohio     usa    2 days left
2344  20100     nissan     rogue  ...     minnesota     usa  14 hours left
1388  17000       ford    fusion  ...  pennsylvania     usa    2 days left

[2499 rows x 12 columns]

In [ ]:
#@title To'g'ri javob
df.sort_values(by="year")

      price      brand     model  ...         state country      condition
32    29800  chevrolet    camaro  ...  pennsylvania     usa  22 hours left
405      25       ford      door  ...      arkansas     usa  17 hours left
545       0        gmc      door  ...      colorado     usa  18 hours left
362      25       ford    pickup  ...       georgia     usa    2 days left
322       0       ford   chassis  ...    california     usa  19 hours left
...     ...        ...       ...  ...           ...     ...            ...
426   55600      lexus        gx  ...       florida     usa    2 days left
806   28300  chevrolet  colorado  ...       indiana     usa    2 days left
2322  15000     nissan    altima  ...          ohio     usa    2 days left
2344  20100     nissan     rogue  ...     minnesota     usa  14 hours left
1388  17000       ford    fusion  ...  pennsylvania     usa    2 days left

[2499 rows x 12 columns]

### **6-mashq**. DF qatorlarini narxi bo'yicha reytinglang va konsolga narxi bo'yicha tartiblangan holatda chiqaring.

In [7]:
# Javobni shuyerga yozing
df['rank']=df['price'].rank()
df.sort_values('price')

      price          brand       model  ...  country      condition    rank
410       0      chevrolet        door  ...      usa    2 days left    22.0
330       0           ford        door  ...      usa  19 hours left    22.0
331       0           ford        door  ...      usa  17 hours left    22.0
339       0           ford        door  ...      usa    2 days left    22.0
496       0           ford      pickup  ...      usa  17 hours left    22.0
...     ...            ...         ...  ...      ...            ...     ...
1215  65500           ford         srw  ...      usa  21 hours left  2495.0
277   67000          dodge  challenger  ...      usa  21 hours left  2496.0
1336  70000           ford         drw  ...      usa    2 days left  2497.0
1340  74000           ford         drw  ...      usa    2 days left  2498.0
502   84900  mercedes-benz    sl-class  ...      usa    2 days left  2499.0

[2499 rows x 13 columns]

In [ ]:
#@title To'g'ri javob
df['rank'] = df['price'].rank()
df.sort_values('price')

      price          brand       model  ...  country      condition    rank
410       0      chevrolet        door  ...      usa    2 days left    22.0
330       0           ford        door  ...      usa  19 hours left    22.0
331       0           ford        door  ...      usa  17 hours left    22.0
339       0           ford        door  ...      usa    2 days left    22.0
496       0           ford      pickup  ...      usa  17 hours left    22.0
...     ...            ...         ...  ...      ...            ...     ...
1215  65500           ford         srw  ...      usa  21 hours left  2495.0
277   67000          dodge  challenger  ...      usa  21 hours left  2496.0
1336  70000           ford         drw  ...      usa    2 days left  2497.0
1340  74000           ford         drw  ...      usa    2 days left  2498.0
502   84900  mercedes-benz    sl-class  ...      usa    2 days left  2499.0

[2499 rows x 13 columns]

### **7-mashq**. DFdan eng qimmat mashina haqidagi ma'lumotni chiqaring

In [10]:
# Javobni shuyerga yozing
s=df['price'].idxmax()
df.iloc[[s]]

     price          brand     model  year  ...    state  country    condition    rank
502  84900  mercedes-benz  sl-class  2017  ...  florida      usa  2 days left  2499.0

[1 rows x 13 columns]

In [ ]:
#@title To'g'ri javob
idx = df['price'].idxmax()
df.iloc[idx]

### **8-mashq**. DFdan eng ko'p yurgan (`km_driven`) mashina haqidagi ma'lumotni chiqaring

In [11]:
# Javobni shuyerga yozing
s=df['mileage'].idxmax()
df.iloc[[s]]

     price      brand  model  year  ...    state  country      condition  rank
528   1025  peterbilt  truck  2010  ...  georgia      usa  17 hours left  94.5

[1 rows x 13 columns]

In [ ]:
#@title To'g'ri javob
idx = df['mileage'].idxmax()
df.iloc[idx]

### **9-mashq**. DF dagi barcha brandlar va ularning sonini chiqaring

In [14]:
# Javobni shuyerga yozing
df['brand'].value_counts()

ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
kia                  13
buick                13
honda                12
infiniti             12
cadillac             10
mercedes-benz        10
heartland             5
peterbilt             4
audi                  4
land                  4
acura                 3
lexus                 2
lincoln               2
mazda                 2
harley-davidson       1
ram                   1
jaguar                1
toyota                1
maserati              1
Name: brand, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df['brand'].value_counts()

### **10-mashq**. DF dagi raqamli ustunlar haqida umulashtiruvchi statistikani chiqaring (min, max, mean, std va hokazo)

In [15]:
# Javobni shuyerga yozing
df.describe()

              price         year       mileage           lot         rank
count   2499.000000  2499.000000  2.499000e+03  2.499000e+03  2499.000000
mean   18767.671469  2016.714286  5.229869e+04  1.676914e+08  1250.000000
std    12116.094936     3.442656  5.970552e+04  2.038772e+05   721.537031
min        0.000000  1973.000000  0.000000e+00  1.593488e+08    22.000000
25%    10200.000000  2016.000000  2.146650e+04  1.676253e+08   623.500000
50%    16900.000000  2018.000000  3.536500e+04  1.677451e+08  1251.500000
75%    25555.500000  2019.000000  6.347250e+04  1.677798e+08  1874.500000
max    84900.000000  2020.000000  1.017936e+06  1.678055e+08  2499.000000

In [ ]:
#@title **To'g'ri javob**
df.describe()

              price         year       mileage           lot         rank
count   2499.000000  2499.000000  2.499000e+03  2.499000e+03  2499.000000
mean   18767.671469  2016.714286  5.229869e+04  1.676914e+08  1250.000000
std    12116.094936     3.442656  5.970552e+04  2.038772e+05   721.537031
min        0.000000  1973.000000  0.000000e+00  1.593488e+08    22.000000
25%    10200.000000  2016.000000  2.146650e+04  1.676253e+08   623.500000
50%    16900.000000  2018.000000  3.536500e+04  1.677451e+08  1251.500000
75%    25555.500000  2019.000000  6.347250e+04  1.677798e+08  1874.500000
max    84900.000000  2020.000000  1.017936e+06  1.678055e+08  2499.000000

### **11-mashq**. DF dan ford kompaniyasining barcha mashinalarnini ajratib chiqaring

In [18]:
# Javobni shuyerga yozing
df[df.brand=='ford'].sort_index()

      price brand   model  year  ...           state  country      condition    rank
1      2899  ford      se  2011  ...       tennessee      usa    6 days left   156.0
3     25000  ford    door  2014  ...        virginia      usa  22 hours left  1832.5
9      5250  ford     mpv  2017  ...           texas      usa    2 days left   323.0
14    20700  ford    door  2013  ...        virginia      usa  22 hours left  1525.0
18     5210  ford     mpv  2017  ...           texas      usa    2 days left   322.0
...     ...   ...     ...   ...  ...             ...      ...            ...     ...
2199  13800  ford  fusion  2019  ...  north carolina      usa    2 days left   911.5
2200  56000  ford     srw  2018  ...    pennsylvania      usa    3 days left  2476.0
2201  13800  ford  fusion  2019  ...  north carolina      usa    2 days left   911.5
2202  45800  ford     srw  2018  ...    pennsylvania      usa    2 days left  2405.0
2203  13800  ford  fusion  2019  ...  north carolina      usa    2 days left   911.5

[1235 rows x 13 columns]

In [ ]:
#@title **To'g'ri javob**
df[df.brand=='ford']

### **12-mashq**. Nissan kompaniyasining eng qimmat va eng arzon mashinalarini chiqaring

In [21]:
# Javobni shuyerga yozing
niss = df[df.brand=='nissan']
niss.loc[niss['price'].idxmax()]

price                         36300
brand                        nissan
model                            xd
year                           2017
title_status          clean vehicle
mileage                       16224
color                         white
vin               1n6ba1f46hn535299
lot                       167753308
state                      virginia
country                         usa
condition             21 hours left
rank                         2305.5
Name: 2375, dtype: object

In [ ]:
#@title **To'g'ri javob**
df_nissan = df[df.brand=='nissan']
df_nissan.loc[df_nissan['price'].idxmin()]

price                           375
brand                        nissan
model                          door
year                           2017
title_status      salvage insurance
mileage                           1
color                           red
vin               3n1ce2cp0hl360793
lot                       167619908
state                north carolina
country                         usa
condition               2 days left
rank                             74
Name: 2417, dtype: object

In [ ]:
#@title
df_nissan.loc[df_nissan['price'].idxmax()]

price                         36300
brand                        nissan
model                            xd
year                           2017
title_status          clean vehicle
mileage                       16224
color                         white
vin               1n6ba1f46hn535299
lot                       167753308
state                      virginia
country                         usa
condition             21 hours left
rank                         2305.5
Name: 2375, dtype: object

### **13-mashq**. Chevrolet kompaniyasining barcha modellarini chiqaring

In [24]:
# Javobni shuyerga yozing
chev = df[df.brand=='chevrolet']
chev['model'].value_counts()

door         99
1500         38
equinox      18
van          17
suburban     16
impala       12
colorado     12
malibu       12
tahoe         9
2500          8
trax          8
traverse      6
camaro        6
pickup        6
3500          4
corvette      4
coupe         3
ld            3
passenger     3
volt          2
sonic         2
cutaway       2
cruze         2
vehicl        1
spark         1
pk            1
utility       1
cab           1
Name: model, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df[df.brand=="chevrolet"]['model'].value_counts()

door         99
1500         38
equinox      18
van          17
suburban     16
impala       12
malibu       12
colorado     12
tahoe         9
2500          8
trax          8
pickup        6
traverse      6
camaro        6
3500          4
corvette      4
coupe         3
passenger     3
ld            3
volt          2
cutaway       2
cruze         2
sonic         2
pk            1
vehicl        1
cab           1
spark         1
utility       1
Name: model, dtype: int64

### **14-mashq**. Mashina narxi va yili o'rtasidagi korrelyasiya qiymatini chiqaring

In [25]:
# Javobni shuyerga yozing
df['price'].corr(df['year'])

0.4182735684917942

In [ ]:
#@title **To'g'ri javob**
df['price'].corr(df.year)

0.4182735684917942

### **14-mashq**. Mashina narxi va boshqa ustunlar o'rtasidagi korrelyasiyani chiqaring

In [27]:
# Javobni shuyerga yozing
df.corrwith(df['price'])

price      1.000000
year       0.418274
mileage   -0.400838
lot        0.159369
rank       0.950057
dtype: float64

In [ ]:
#@title **To'g'ri javob**
df.corrwith(df.price)

### **15-mashq**. DF dan kia va hyundai mashinalarini ajratib alohida DF ga saqlang. Yangi DFni chiqaring

In [30]:
# Javobni shuyerga yozing
kia = ['kia','hyundai']
kia_hy = df[df['brand'].isin(df.brand)]
kia_hy

      price      brand    model  ...  country      condition    rank
0      6300     toyota  cruiser  ...      usa   10 days left   381.0
1      2899       ford       se  ...      usa    6 days left   156.0
2      5350      dodge      mpv  ...      usa    2 days left   326.5
3     25000       ford     door  ...      usa  22 hours left  1832.5
4     27700  chevrolet     1500  ...      usa  22 hours left  2005.0
...     ...        ...      ...  ...      ...            ...     ...
2494   7800     nissan    versa  ...      usa    1 days left   477.5
2495   9200     nissan    versa  ...      usa  21 hours left   574.5
2496   9200     nissan    versa  ...      usa  21 hours left   574.5
2497   9200     nissan    versa  ...      usa    2 days left   574.5
2498   9200     nissan    versa  ...      usa  21 hours left   574.5

[2499 rows x 13 columns]

In [ ]:
#@title **To'g'ri javob**
brands = ['kia','hyundai']
df2 = df[df['brand'].isin(brands)]
df2

### **16-mashq**. Chevrolet kompaniyasining malibu va impala mashinalarini alohida DF ko'rinishida chiqaring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
models = ['malibu','impala']
df_ch = df[df.brand=='chevrolet']
df_ch[df_ch['model'].isin(models)]

### **17-mashq**. Ford kompaniyasining mustang modelini alohioda DF ga ajrating

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df_mustang = df[(df['brand']=='ford') & (df['model']=='mustang')]
df_mustang.head()

      price brand    model  year  ...       state  country      condition    rank
632   25511  ford  mustang  2019  ...    michigan      usa  19 hours left  1873.5
1224  21900  ford  mustang  2018  ...  new jersey      usa    2 days left  1589.0
1266  22000  ford  mustang  2018  ...    illinois      usa    2 days left  1598.5
1267  38200  ford  mustang  2019  ...     florida      usa    1 days left  2333.5
1269  35000  ford  mustang  2018  ...    illinois      usa  21 hours left  2281.5

[5 rows x 13 columns]

### **18-mashq**. 2018-yildan keyin chiqqan Mustang mashinalirining o'rtacha narxini chiqaring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df_mustang[df_mustang['year']>=2018]['price'].mean()

24837.444444444445

### **19-mashq**. Mustang mashinalari haqida umumlashgan statistikani chiqaring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df_mustang.describe()

              price         year       mileage           lot         rank
count     29.000000    29.000000     29.000000  2.900000e+01    29.000000
mean   25841.758621  2018.517241  21551.931034  1.677386e+08  1791.189655
std     7781.073538     0.784706  12153.315994  7.464566e+04   390.396191
min    15500.000000  2016.000000    878.000000  1.675552e+08  1091.000000
25%    20500.000000  2018.000000  11342.000000  1.677355e+08  1515.500000
50%    22000.000000  2019.000000  25011.000000  1.677637e+08  1598.500000
75%    29800.000000  2019.000000  31561.000000  1.677824e+08  2111.000000
max    49000.000000  2020.000000  41147.000000  1.678018e+08  2439.500000

### **20-mashq**. Sotuvdagi ford mashinalarining aksari nechachni yilda ishlab chiqarilganini toping

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df[df.brand=='ford'][['year']].value_counts().idxmax()

(2019,)