<a href="https://colab.research.google.com/github/rashidov9797/Data_Science_homeworks/blob/main/DS_3_Modul_3_Amaliyot_tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [1]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

   Sno  AGE     SEX  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0    1   56  Female  ...              NO            NaN                D
1    2   37    Male  ...              NO            NaN                D
2    3   50    Male  ...              NO            NaN                D

[3 rows x 23 columns]

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [48]:
# Javobni shuyerga yozing

sum(df.duplicated())

0

In [29]:
#@title **To'g'ri javob**
sum(df.duplicated())

0

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [49]:
# Javobni shuyerga yozing
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df.head()

   AGE     SEX CASTE_NAME  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0   56  Female         BC  ...              NO            NaN                D
1   37    Male         BC  ...              NO            NaN                D
2   50    Male         BC  ...              NO            NaN                D
3   45    Male         BC  ...              NO            NaN                D
4   54    Male         BC  ...              NO            NaN                D

[5 rows x 17 columns]

In [ ]:
#@title **To'g'ri javob**
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [50]:
# Javobni shuyerga yozing
df['SEX'].unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

In [ ]:
#@title **To'g'ri javob**
df["SEX"].unique()

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [51]:
# Javobni shuyerga yozing

dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)
df.head()

   AGE    SEX CASTE_NAME  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0   56   Ayol         BC  ...              NO            NaN                D
1   37  Erkak         BC  ...              NO            NaN                D
2   50  Erkak         BC  ...              NO            NaN                D
3   45  Erkak         BC  ...              NO            NaN                D
4   54  Erkak         BC  ...              NO            NaN                D

[5 rows x 17 columns]

In [ ]:
#@title **To'g'ri javob**
dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [52]:
# Javobni shuyerga yozing

dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head()

   AGE  SEX CASTE_NAME  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0   56  0.0         BC  ...              NO            NaN                D
1   37  1.0         BC  ...              NO            NaN                D
2   50  1.0         BC  ...              NO            NaN                D
3   45  1.0         BC  ...              NO            NaN                D
4   54  1.0         BC  ...              NO            NaN                D

[5 rows x 17 columns]

In [35]:
#@title **To'g'ri javob**
dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head(5)

   AGE  SEX CASTE_NAME  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0   56  NaN         BC  ...              NO            NaN                D
1   37  NaN         BC  ...              NO            NaN                D
2   50  NaN         BC  ...              NO            NaN                D
3   45  NaN         BC  ...              NO            NaN                D
4   54  NaN         BC  ...              NO            NaN                D

[5 rows x 17 columns]

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [53]:
# Javobni shuyerga yozing

df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

In [45]:
#@title **To'g'ri javob**
df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [54]:
# Javobni shuyerga yozing

df['HOSP_TYPE'].value_counts()

Maxsus    241139
Umumiy     94255
Name: HOSP_TYPE, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"].value_counts()

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [55]:
# Javobni shuyerga yozing

sum(df.duplicated())

32

In [ ]:
#@title **To'g'ri javob**
sum(df.duplicated())

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [56]:
# Javobni shuyerga yozing

df.drop_duplicates(inplace=True)

In [ ]:
#@title **To'g'ri javob**
df.drop_duplicates(inplace=True)

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [57]:
# Javobni shuyerga yozing

df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

HOSP_TYPE
Maxsus    30275.151848
Umumiy    22683.614852
Name: CLAIM_AMOUNT, dtype: float64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [58]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

HOSP_TYPE
Maxsus    2
Umumiy    2
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [59]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

HOSP_TYPE
Maxsus    520000
Umumiy    520000
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [60]:
# Javobni shuyerga yozing

df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])

     min     max          mean
SEX
0.0    2  210000  25554.716182
1.0    2  205000  29636.456810

In [ ]:
#@title **To'g'ri javob**
df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])