<a href="https://colab.research.google.com/github/rashidov9797/Data_Science_homeworks/blob/main/vaccination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv("/content/Covid_vaccination.csv")

In [65]:
df.isnull().sum()

Unnamed: 0                 0
country                    0
iso_code                   0
date                       0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
New_deaths                 0
population                 0
ratio                      0
dtype: int64

In [45]:
df.duplicated().sum()

0

In [56]:
df.drop_duplicates(['country'],inplace=True)

In [66]:
df

       Unnamed: 0      country iso_code  ... New_deaths  population      ratio
0               0  Afghanistan      AFG  ...         12  40194523.0   1.116764
1               1  Afghanistan      AFG  ...         10  40194523.0   1.170162
2               2  Afghanistan      AFG  ...         10  40194523.0   1.185154
3               3  Afghanistan      AFG  ...         19  40194523.0   1.192630
4               4  Afghanistan      AFG  ...         14  40194523.0   1.193133
...           ...          ...      ...  ...        ...         ...        ...
24174       24174     Zimbabwe      ZWE  ...          1  15183882.0  22.946747
24175       24175     Zimbabwe      ZWE  ...          0  15183882.0  23.150470
24176       24176     Zimbabwe      ZWE  ...          1  15183882.0  23.599077
24177       24177     Zimbabwe      ZWE  ...          0  15183882.0  23.875456
24178       24178     Zimbabwe      ZWE  ...          0  15183882.0  24.050635

[24179 rows x 10 columns]

In [73]:
df.columns

Index(['Unnamed: 0', 'country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'New_deaths',
       'population', 'ratio'],
      dtype='object')

In [75]:
df.drop(df.columns[0],axis=1,inplace=True)

In [77]:
df.columns = ['davlat','kod','sana','vaksina soni','emlamganlar soni','toliq emlanganlar','yangi aniqlangan','aholisi','ratio']

In [80]:
df.drop(df.columns[-1],axis=1,inplace=True)

In [82]:
df.drop_duplicates(inplace=True)

In [85]:
df.describe()

       vaksina soni  emlamganlar soni  ...  yangi aniqlangan       aholisi
count  2.417900e+04      2.417900e+04  ...      24179.000000  2.417900e+04
mean   2.203965e+07      1.372980e+07  ...        103.716035  4.911567e+07
std    7.822728e+07      5.145837e+07  ...        345.402231  1.562990e+08
min    1.000000e+00      1.000000e+00  ...        -92.000000  1.373000e+03
25%    4.859780e+05      3.354615e+05  ...          1.000000  2.951769e+06
50%    2.849630e+06      1.854630e+06  ...          9.000000  1.015616e+07
75%    1.246813e+07      7.414157e+06  ...         51.500000  3.819664e+07
max    2.422908e+09      1.225000e+09  ...       8786.000000  1.446113e+09

[8 rows x 5 columns]

In [88]:
df.drop_duplicates(subset=['davlat'],inplace=True)

In [89]:
df

                  davlat  kod  ... yangi aniqlangan     aholisi
0            Afghanistan  AFG  ...               12  40194523.0
18               Albania  ALB  ...               13   2870780.0
162              Algeria  DZA  ...               31  44913143.0
171              Andorra  AND  ...                0     77355.0
193               Angola  AGO  ...                3  34354851.0
...                  ...  ...  ...              ...         ...
23681           Viet Nam  VNM  ...                0  98493195.0
23850  Wallis and Futuna  WLF  ...                0     11094.0
23878              Yemen  YEM  ...                0  30751565.0
23886             Zambia  ZMB  ...                2  19132061.0
23956           Zimbabwe  ZWE  ...                2  15183882.0

[200 rows x 8 columns]

In [90]:
df[df.kod=='UZB']

           davlat  kod  ... yangi aniqlangan     aholisi
23632  Uzbekistan  UZB  ...                0  34117033.0

[1 rows x 8 columns]

In [91]:
df['rank']=df['emlamganlar soni'].rank()

In [92]:
df

                  davlat  kod        sana  ...  yangi aniqlangan     aholisi   rank
0            Afghanistan  AFG  2021-05-11  ...                12  40194523.0  162.0
18               Albania  ALB  2021-02-02  ...                13   2870780.0    8.0
162              Algeria  DZA  2021-08-20  ...                31  44913143.0  195.0
171              Andorra  AND  2021-03-08  ...                 0     77355.0   18.0
193               Angola  AGO  2021-05-12  ...                 3  34354851.0  169.0
...                  ...  ...         ...  ...               ...         ...    ...
23681           Viet Nam  VNM  2021-04-30  ...                 0  98493195.0  165.0
23850  Wallis and Futuna  WLF  2021-04-27  ...                 0     11094.0   25.0
23878              Yemen  YEM  2021-07-12  ...                 0  30751565.0  149.0
23886             Zambia  ZMB  2021-05-21  ...                 2  19132061.0  133.0
23956           Zimbabwe  ZWE  2021-03-22  ...                 2  15183882.0   92.0

[200 rows x 9 columns]

In [96]:
# SOUTH KOREA
df[df.davlat=='Republic of Korea']

                  davlat  kod        sana  ...  yangi aniqlangan     aholisi  rank
20144  Republic of Korea  KOR  2021-02-26  ...                 4  51322552.0  78.0

[1 rows x 9 columns]